nav.nav-group
    h2.nav-group-title Menu
    a.nav-group-item#menu-dashboard(href="/panel")
        span.icon.icon-gauge
        |     Dashboard
    h5.nav-group-title Productos y configuración
    a.nav-group-item#menu-productos(href="/products")
        span.icon.icon-thermometer
        |    Configuración Productos
    a.nav-group-item#menu-contenedores(href="/containers")
        span.icon.icon-trash
        |     Contenedores
    a.nav-group-item#menu-ajuste(href="/ajuste")
        span.icon.icon-water
        |     Ajuste de productos
    a.nav-group-item#menu-kits(href="/kits")
        span.icon.icon-briefcase
        |     Armado de Kits
    h5.nav-group-title Productos y configuración
    a.nav-group-item#menu-orders(href="/orders")
        span.icon.icon-download
        |     Ordenes
    a.nav-group-item#menu-envios(href="/send")
        span.icon.icon-flight
        |     Envio
    a.nav-group-item#menu-guias(href="/guide")
        span.icon.icon-shuffle
        |     Guias
    h5.nav-group-title Otros
    a.nav-group-item#menu-historico(href="/historic")
        span.icon.icon-archive
        |     Historico
    a.nav-group-item#menu-pos(href="/pos")
        span.icon.icon-basket
        |     POS
    a.nav-group-item#menu-embeded(href="/embeded")
        span.icon.icon-network
        |     Embeded MyScentJourney

